body {
  min-height: 100vh;
  max-width: 100vw;
  position: relative;
  margin: 0;
  padding: 0;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

header {
  font-family: "Chewy", cursive;
  background: linear-gradient(
    90deg,
    rgba(36, 37, 130, 1) 0%,
    rgba(9, 9, 121, 1) 38%,
    rgba(246, 76, 114, 1) 100%
  );
  color: #fff;
  font-size: 2rem;
  height: 60px;
  -webkit-box-shadow: 0px 5px 14px -4px #b9b9b9;
  box-shadow: 0px 5px 14px -4px #b9b9b9;
  min-width: 661px;
  display: flex;
  align-items: center;
  justify-content: center;
}

header ul li {
  display: inline;
  padding: 0 40px;
}

.text h1 {
  font-family: "Chewy", cursive;
  padding-bottom: 1.2rem;
  font-size: 3rem;
}

.text p {
  font-family: "Space Grotesk", sans-serif;
  font-size: 2rem;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding-top: 8rem;
}

.text {
  text-align: center;
  padding: 5rem;
  margin-left: 2rem;
}

.text b {
  color: #520e23;
}

a {
  color: #fff;
  text-decoration: none;
  font-family: "Chewy", cursive;
  font-size: 1.5rem;
}

.wrapper {
  width: 100%;
}

@media screen and (max-width: 1292px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    padding-bottom: 10rem;
    padding-top: 4rem;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#footer {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  bottom: 0;
  font-family: "Chewy", cursive;
  padding: 10px;
  font-size: 1.3rem;
  font-style: italic;
}
